@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.text-justify {
    text-align: justify;
}

.navigation-bar .navbar {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.navigation-bar .navbar .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #196CE0;
    cursor: pointer;
    pointer-events: fill;
}

.navigation-bar .navbar .navbar-nav a:hover {
    color: #196CE0;
    cursor: pointer;
    ;
}

.navigation-bar .navbar .navbar-nav .dissable {
    pointer-events: none;
}

.navigation-bar .navbar .navbar-nav .active {
    color: #196CE0;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid #196CE0;
    padding: 0 6px;
    pointer-events: none;
}

.landing-page .hero {
    margin-top: 10vh;
    height: 90vh;
}

.landing-page .hero .hero-text {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.landing-page .hero button {
    color: white;
    background-color: #196CE0;
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    font-weight: 500;
}

.landing-page .hero button:hover {
    background-color: #044db3;
}

.landing-page .hero .row .col img {
    width: 80%;
    height: auto;
}

.landing-page .tourism .pricing .pricing-button {
    color: #196CE0;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.landing-page .tourism .pricing .pricing-button:hover {
    color: #044db3;
}

.landing-page .tourism .modal button {
    color: white;
    background-color: #7B7B7B;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 80px;
}

.landing-page .tourism .modal button:hover {
    background-color: #676767;
}

.landing-page .tourism .object .object-item {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.landing-page .tourism .object .object-item img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}

.landing-page .tourism .object .object-item label {
    font-weight: 500;
    cursor: pointer;
}

.landing-page .tourism .object .object-nav button {
    color: #7B7B7B;
    background-color: #D9D9D9;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 100px;
    pointer-events: none;
}

.landing-page .tourism .object .object-nav .active {
    color: white;
    background-color: #196CE0;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 100px;
    pointer-events: fill;
}

.landing-page .tourism .object .object-nav .active:hover {
    background-color: #044db3;
}

.landing-page .order-form .form-container {
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
}

.landing-page .order-form .form-container .form-detail {
    color: #7B7B7B;
    font-size: 12px;
}

.landing-page .order-form .form-container .terms-conditions input {
    width: 24px;
    height: 24px;
}

.landing-page .order-form .form-container .terms-conditions label {
    color: #7B7B7B;
}

.landing-page .order-form .form-container .order-confirmation button {
    color: white;
    background-color: #196CE0;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 160px;
    pointer-events: fill;
}

.landing-page .order-form .form-container .order-confirmation button:hover {
    background-color: #044db3;
}

.landing-page .order-form .form-container .order-confirmation .dissable {
    color: #7B7B7B;
    background-color: #D9D9D9;
    pointer-events: none;
}

.myorder-page {
    padding-top: 10vh;
}

.myorder-page .order-form .form-container {
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
}

.myorder-page .order-form .form-container .form-detail {
    color: #7B7B7B;
    font-size: 12px;
}

.myorder-page .myorder-nav button {
    color: #7B7B7B;
    background-color: #D9D9D9;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 100px;
    pointer-events: none;
}

.myorder-page .myorder-nav .active {
    color: white;
    background-color: #196CE0;
    border: none;
    border-radius: 6px;
    padding: 4px 0;
    width: 100px;
    pointer-events: fill;
}

.myorder-page .myorder-nav .active:hover {
    background-color: #044db3;
}

.footer {
    background-color: #2B2B2B;
}

.footer label {
    color: white;
    font-size: 12px;
}